.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@media (max-width: 991px){
  .navbar-collapse {
      position: relative;
      padding: 1.5rem;
      border-radius: 0.375rem;
      background: #FFF;
      box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
      animation: show-navbar-collapse .2s ease forwards;
  }
  .navbar-collapse .nav-link {
    color: #172b4d !important;
    text-decoration: none;
    padding: .625rem 0;
    background-color: transparent;
    box-shadow: 0 0 black;
    border-bottom-color: black;
    border-bottom: ridge;
    border-bottom-width: 1px;
  }
}
